@import url('root.css');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navdiv {
    display: flex;
    align-items: center;
}

.labeldiv {
    position: relative;
}

.labeldiv input[type="checkbox"] {
    display: none;
}

.labeldiv label {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
}






.card-custom-bg {
    background-color: #A4D07B;
    border-radius: 20px;
}



@media (min-width: 768px) {
    .labeldiv label {
        display: none;
    }

    .lista {
        display: flex;
        position: static;
        flex-direction: row;
        background-color: transparent;
        width: auto;
    }

    .lista li {
        border-bottom: none;
    }

    .lista li a {
        padding: 0 1rem;
    }
}
.card-body p {
    text-align: left;
    font-size: 30px;
}
main {
    flex: 1;
}

.azul_avances{
    color: var(--color-azul);
    font-size: 60px;
}
.verde_avances{
    color: var(--color-secondary);
    font-size: 60px;
}
#mi-footer {
    background-color: var(--color-secondary);
    padding: 1rem;
    color: #333333;
}
.footerLetra{
    color: #ffffff;
}
.card-azul{
    background-color: var(--color-azul);
}
.mainTexto{
    text-align: center;
    color: var(--color-azul);
    font-size: 80px;
}
.card-verde{
    background-color: var(--color-primary);
}
.mainTextoVerde{
    text-align: center;
    color: var(--color-secondary);
    font-size: 80px;
}
.cuadrado {
    width: 100%;
    padding-top: 100%; 
    position: relative;
    margin-bottom: 20px; 
    border-radius: 20px;
}

.texto-cuadrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 14px; 
    color: #000; 

}

.color1 {
    background-color: #5A8209; 
}

.color2 {
    background-color: #A4D07B;
    border: 1px solid black;
}

.color3 {
    background-color: #7DA9D8; 
}

.color4 {
    background-color: #F0EAD6; 
}
.centered-image {
    display: block;
    margin: 0 auto;
}
.card-verde ul {
    list-style-type: none;
}

.card-verde ul li {
    list-style-type: none;
    font-size: 30px;
    text-align: center;
}
.navbar-custom {
    background-color: white;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: black;
}
.navbar-custom .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}
.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-nav {
    flex: 1;
    display: flex;
    justify-content: center; 
}
.nav-item {
    margin: 0 10px; 
}
