@import url('root.css');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav-inicio {

    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-inicio img {
    height: 60px;
}

.navdiv {
    display: flex;
    align-items: center;
}

.labeldiv {
    position: relative;
}

.labeldiv input[type="checkbox"] {
    display: none;
}

.labeldiv label {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
}

.lista {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    background-color: #004d4d;
    top: 2rem;
    right: 0;
    width: 200px;
}

.lista li {
    border-bottom: 1px solid #ffffff;
}

.lista li a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

.lista li a:hover {
    background-color: #5A8209;
}
.card-custom-bg {
    background-color: #A4D07B;
    border-radius: 20px;
}

.card-custom-bg .card-img-top {
    display: block;
    margin: 0 auto;
    width: 90%; 
    border-radius: 10px; 
    margin-top: 10px;
}
.lista li button.btn-conocenos {
    background-color: #5A8209; 
    color: #fff; 
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 50px;
}
.navdiv img {
    margin-right: auto; 
}
.lista li button.btn-conocenos:hover {
    background-color: var(--color-primary); 
}

input[type="checkbox"]:checked ~ .lista {
    display: block;
}

@media (min-width: 768px) {
    .labeldiv label {
        display: none;
    }

    .lista {
        display: flex;
        position: static;
        flex-direction: row;
        background-color: transparent;
        width: auto;
    }

    .lista li {
        border-bottom: none;
    }

    .lista li a {
        padding: 0 1rem;
    }
}

main {
    flex: 1;
}

footer {
    background-color: #cccccc;
    padding: 1rem;
    color: #333333;
}
.logo-uade {
    width: 200px;  
    height: auto;  
}