body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;

}

h1 {
    margin: 20px;
    text-align: center;
}

.memory-game {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 600px;
    padding: 10px;
}

.memory-card {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    perspective: 1000px;
}

.memory-card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s;
}

.memory-card .back {
    background-color: #7DA9D8;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: background-color 0.5s;
}

.memory-card.selected .front {
    transform: rotateY(0deg);
}

.memory-card.selected .back {
    transform: rotateY(180deg);
}

.memory-card .front {
    transform: rotateY(180deg);
}

.memory-card.match .back {
    background-color: #28a745;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #7DA9D8;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005f8b;
}

.nav-inicio {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.nav-inicio {

    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-inicio img {
    height: 60px;
}

.navdiv {
    display: flex;
    align-items: center;
}

.labeldiv {
    position: relative;
}

.labeldiv input[type="checkbox"] {
    display: none;
}

.labeldiv label {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
}

.lista {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    background-color: #004d4d;
    top: 2rem;
    right: 0;
    width: 200px;
}

.lista li {
    border-bottom: 1px solid #ffffff;
}

.lista li a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

.lista li a:hover {
    background-color: #5A8209;
}
.card-custom-bg {
    background-color: #A4D07B;
    border-radius: 20px;
}

.card-custom-bg .card-img-top {
    display: block;
    margin: 0 auto;
    width: 90%; 
    border-radius: 10px; 
    margin-top: 10px;
}
.lista li button.btn-conocenos {
    background-color: #5A8209; 
    color: #fff; 
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 50px;
}
.navdiv img {
    margin-right: auto; 
}
.lista li button.btn-conocenos:hover {
    background-color: var(--color-secondary); 
}

input[type="checkbox"]:checked ~ .lista {
    display: block;
}

@media (min-width: 768px) {
    .labeldiv label {
        display: none;
    }

    .lista {
        display: flex;
        position: static;
        flex-direction: row;
        background-color: transparent;
        width: auto;
    }

    .lista li {
        border-bottom: none;
    }

    .lista li a {
        padding: 0 1rem;
    }
}

main {
    flex: 1;
}

.logo-uade {
    width: 200px;  
    height: auto;  
}
.card-body h1 {
    color: var(--color-secondary)
}
header img {
    max-width: 100%;
    height: auto;
}
#mi-footer {
    background-color: #5A8209;
    padding: 1rem;
    color: #333333;
}
.footerLetra{
    color: #ffffff;
}



